
## Task1

## Que 1

In [16]:
n=[]
for x in range(2000, 3201):
    if (x%7==0) and (x%5!=0):
        n.append((x))
print ((n))

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

## Que 2

In [72]:
a=input("enter the first name: ")
b=input("enter the last name: ")

v=("{0} {1}".format(a,b))
print("Full name :",v)
m=v [::-1]
print("Reversed Name:",m)

enter the first name: sun
enter the last name: mad
Full name : sun mad
Reversed Name: dam nus

## Que 3

In [96]:
import math
r=12/2
V=(4/3) * math.pi * r**3
print("Volume of a sphere with diameter 12 cm is :",V)

Volume of a sphere with diameter 12 cm is : 904.7786842338603

## Task 2

## Que 1

In [134]:
values = input("Input some comma seprated numbers : ")
list = values.split(",")

print('List : ',list)

Input some comma seprated numbers : 3,6,8,1
List :  ['3', '6', '8', '1']

## Que 2

In [133]:

for i in range(n):
    for j in range(i+1):
        print("*",end="")
        
    print()
    
for i in range(n-1):
    for j in range(n-i-1):
        print("*",end="")
        
    print()

*
**
***
****
***
**
*

## Que 3

In [140]:
a=input("enter the name: ")
print(a)
print(a[::-1])

enter the name: Science
Science
ecneicS

In [167]:
s="WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"
#print(len(s))

print(s[:25])
print("     ",s[25:88])
print("           ",s[88:127])
print("           ",s[127:160])

WE, THE PEOPLE OF INDIA,
      having solemnly resolved to constitute India into a SOVEREIGN,
            SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
             and to secure to all its citizen

160